@media screen and (min-width: 750px) {
	div#mainpart{
		width: 770px;
		margin: 130px auto 0;
	}
}
@media screen and (max-width: 750px) {
	div#mainpart{
		width: 100%;
		margin: 120px auto 0;
	}
}

body{
	background-color:rgb(234,234,209);
	margin: 0px auto;
	color: #222222;
	font-family: Verdana, Georgia, Lato, 微软雅黑, Lustria, "PT Serif", Times, serif;
	font-size: 16px;
}
header#head{
	width: 100%;
	background-color: rgb(64,116,180);
	box-sizing: border-box;
	height: 120px;
	padding: 8px 0px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	color: #d8d8d8;
}
div#mainpart{
	box-sizing: border-box;
	background-color: white;
	padding: 40px;
}
h1{
	font-family: "Lucida Console", Georgia, NSimSun, serif;
	
}
h2{
	font-family: Helvetica, Gabriela, Arial, STKaiti, Georgia, NSimSun, serif;
	font-weight: 5000;
	font-size: 150%;
}
h3{
	font-family: Helvetica, Gabriela, Arial, STKaiti, Georgia, NSimSun, serif;
	font-weight: 100;
	font-size: 110%;
}
a{
	text-decoration:none;
	color:#3399cc;
}
footer{
	margin:20px auto;
	color:#444444;
}
footer p{
	text-align:center;
	font-size:80%;
}
li{
	margin-bottom: 5px;
}
table{
	border-collapse:collapse;
	margin:20px auto;
	width:100%;
}
th, td{
	border: 1px #ccc solid;
	vertical-align: middle;
	padding: 5px 10px;
}
th{
	text-align:center;
}
hr{
	border: 0;
	outline: none;
	height: 11px;
	background:	transparent url("./hr.gif") center center repeat-x;
	margin: 0 0 20px;
}
.ico img{
	height: 20px;
	vertical-align:middle;
}
.noborder td{
	border-style: none;
}